.env
**/.env
**/.env.*
!**/.env.example
!deploy/*.env.example
deploy/backend.env
deploy/ai-service.env
deploy/.env
frontend/flutter/.env
nginx/certs/ai-service/.env
*.zip
frontend/flutter/devtools_options.yaml
