N8N_HOST=biomark-n8n.duckdns.org
N8N_PROTOCOL=http
WEBHOOK_URL=https://biomark-n8n.duckdns.org/
N8N_EDITOR_BASE_URL=https://biomark-n8n.duckdns.org/
N8N_SECURE_COOKIE=true
GENERIC_TIMEZONE=America/Managua
TZ=America/Managua
N8N_ENCRYPTION_KEY=GENERATE_WITH_OPENSSL
N8N_WEBHOOK_SECRET=GENERATE_LONG_RANDOM_SECRET

# Para VPN / dominio real, cambia a:
# N8N_HOST=vpn.example.local o n8n.tudominio.com
# N8N_PROTOCOL=https
# WEBHOOK_URL=https://vpn.example.local/n8n/
# N8N_EDITOR_BASE_URL=https://vpn.example.local/n8n/
# N8N_SECURE_COOKIE=true
# N8N_WEBHOOK_SECRET=EL_MISMO_SECRETO_QUE_EN_BACKEND
